<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Choix des projets d'info</title>
    <script src="../static/Choice_Page.js"></script>
    <!--link rel="stylesheet" href="styles.css">  lien vers le fichier css pour l'instant inexistant-->
</head>
<body>
    <h1> Liste des projets </h1>
    <ol>
        <li><a href="Presentation.html" target="blank">Premier Projet</a></li>
        <li><a href="https://www.minesparis.psl.eu" target="blank">Deuxième Projet</a></li>
        <li><a href="" target="blank">Troisième Projet</a></li>
    </ol>
    <h1> Vos choix </h1>
    <div id="words">
        <!-- Éléments déplaçables -->
        <div class="draggable" draggable="true" id="block1">Projet1</div>
        <div class="draggable" draggable="true" id="block2">Projet2</div>
        <div class="draggable" draggable="true" id="block3">Projet3</div>
    </div>
    <div id="sentences">
        <p>
          Choix 1 : <span class="droppable" id="hole1">[_______]</span> <br>
          Choix 2 : <span class="droppable" id="hole2">[_______]</span> <br>
          Choix 3 : <span class="droppable" id="hole3">[_______]</span> <br>
        </p>
    </div>
</body>