<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Choix des projets d'info</title>
    <!--link rel="stylesheet" href="styles.css">  lien vers le fichier css pour l'instant inexistant-->
</head>
<body>
    <h1> Liste des projets </h1>
    <ol>
        <li><a href="Presentation.html" target="blank">Premier Projet</a></li>
        <li><a href="https://www.minesparis.psl.eu" target="blank">Deuxième Projet</a></li>
        <li><a href="" target="blank">Troisième Projet</a></li>
    </ol>
    <h1> Vos choix </h1>
    <h3> Premier Favori </h3>
    <form method="get">
        <input type="radio" id="proj1" name="fav1">
        <label for="proj1">Projet 1</label><br>
        <input type="radio" id="proj2" name="fav1">
        <label for="proj2">Projet 2</label><br>
        <input type="radio" id="proj3" name="fav1">
        <label for="proj3">Projet 3</label><br>
        <input type="submit" value="Valider">
    </form>
</body>