<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <!--link rel="stylesheet" href="styles.css">  lien vers le fichier css pour l'instant inexistant-->
    <script src="../static/Pass.js"></script>
</head>
<body>
    <form id="myForm">
        <label for="motdepasse">Saisissez le mot de passe : </label>
        <input type="text" id="motdepasse" name="motdepasse" required>
        <br>
        <button type="button" onclick="redirectUser()">Valider</button>
    </form>
</body>