<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Choix des projets d'info</title>
    <!--link rel="stylesheet" href="styles.css">  lien vers le fichier css pour l'instant inexistant-->
</head>

<body>
    <form action="Untitled-2.html">
        <label for="nom">Saisissez votre nom : </label>
        <input type="text" id="nom" name="nom" required>
        <br>
        <label for="prenom">Saisissez votre prénom :</label>
        <input type="text" id="prenom" name="prenom" required>
        <br>
        <input type="submit" value="Valider">
      </form>   
</body>