<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choix des projets d'info</title>
    <script src="../static/Username.js"></script>
</head>
<body>
    <form id="myForm">
        <label for="nom">Saisissez votre nom : </label>
        <input type="text" id="nom" name="nom" required>
        <br>
        <label for="prenom">Saisissez votre prénom : </label>
        <input type="text" id="prenom" name="prenom" required>
        <br>
        <button type="button" onclick="redirectUser()">Valider</button>
    </form>
</body>
</html>
